[submodule "3rd/edg"]
	path = 3rd/edg
	url = https://github.com/take-cheeze/edg-compiler
	shallow = true
[submodule "3rd/qbe"]
	path = 3rd/qbe
	url = https://github.com/take-cheeze/qbe
[submodule "3rd/cproc"]
	path = 3rd/cproc
	url = https://github.com/michaelforney/cproc
